@font-face {
  font-family: NotoSans-SemiBold;
  src: url("../fonts/NotoSans-SemiBold.ttf");
}

@font-face {
  font-family: MochiyPopPOne-Regular;
  src: url("../fonts/MochiyPopPOne-Regular.ttf");
}

@font-face {
  font-family: Piedra-Regular;
  src: url("../fonts/Piedra-Regular.ttf");
}
@font-face {
  font-family: LilitaOne-Regular;
  src: url("../fonts/LilitaOne-Regular.ttf");
}
@font-face {
  font-family: DarumadropOne-Regular;
  src: url("../fonts/DarumadropOne-Regular.ttf");
}
@font-face {
  font-family: DG-3asomy-Regular;
  src: url("../fonts/DG-3asomy-Regular.ttf");
}